div{
    background-color: cadetblue;
    padding: 10px ;
    margin-bottom: 5px;
}
h2{
    background-color: cadetblue;
    text-align: center;
    color: chartreuse;
    text-decoration: underline;
}